:root {
  --CL-primary: #e6c744;
  --CL-off-primary: #ebd96b;
  --CL-neutral-white: #ffffff;
  --CL-neutral-off-white: #f4f6f5;
  --CL-neutral-gray: #c2c8da;
  --CL-neutral-black: #000000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 900 !important;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

/* Background Styles */

.bg-off-white {
  background-color: var(--CL-neutral-off-white);
}

.bg-yellow {
  background-color: var(--CL-primary);
}

.bg-off-yellow {
  background-color: var(--CL-off-primary);
}

.bg-linear-yellow {
  background: linear-gradient(to bottom, var(--CL-off-primary), var(--CL-primary));
}

/* Text */

.title {
  font-size: 3rem;
  text-transform: uppercase;
}

.parragraph {
  margin: 1em 0;
}

/* Image */

.banner-image {
  margin-top: 3em;
}

.image-shadow {
  filter: drop-shadow(5px 3px 15px rgba(0, 0, 0, 0.5));
}

/* Navbar Styles */

.navbar-logo {
  max-width: 8em;
}

.navbar {
  background-color: var(--CL-neutral-white);
  padding: 1em;
}

.navbar-nav {
  gap: 0.5em;
  align-items: center;
}

/* Hero */

.hero-content {
  position: relative;
}

/* Brand Section */
.brand {
  padding: 3em 0;
}

.brand-track {
  overflow: hidden;
}

.brand-system {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0 0 0;
  gap: 1em;
}

.brand-image {
  max-width: 5em;
}

.brand-image::selection {
  background-color: transparent;
}

/* Product Section */
.category {
  padding: 8em 0;
}

.category-system {
  display: grid;
  gap: 1em;
  padding: 2.25em 0 0 0;
}

.category-picture {
  display: block;
  overflow: hidden;
  border-radius: 1rem;
  max-height: 35em;
}

.category-image {
  object-fit: cover;
  transition: 0.25s;
}

.category-content {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
  color: var(--CL-neutral-black);
}

.category-subtitle {
  font-size: 1.15rem;
  margin: 0;
}

.category-description {
  font-size: 1rem;
  margin: 0;
}

.category-arrow {
  font-size: 2rem;
  padding: 0.1em 0;
  transition: 0.25s;
}

@media (min-width: 768px) {
  .hero {
    margin: 1em 0 3em 0;
  }

  .hero-content {
    border-radius: 2rem;
  }

  .title {
    font-size: 4.5rem;
    margin: 0;
  }

  .hero-image {
    margin-top: 3em;
    float: right;
    max-width: 100%;
  }

  .parragraph {
    font-size: 1.25rem;
  }

  .navbar-nav {
    gap: 3em;
  }

  /* Product Section */
  .category-system {
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
  }

  .category-image:hover {
    transform: scale(1.1);
  }

  .category-subtitle {
    font-size: 1.35rem;
    margin: 0;
  }

  .category-content:hover .category-arrow {
    transform: translateX(0.5em);
  }
}
